* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}
:root {
  --text-color: #000000;
  --text-color2: #00000099;
  --color-primary: #e7f9fd;
  --transition: all 350ms ease;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", serif;
  line-height: 1.6;
  font-size: 0.9rem;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  /* color: var(--color-gray-900); */
  font-weight: 900;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

a {
  transition: var(--transition);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

::-webkit-scrollbar {
  background: linear-gradient(#e7f9fd00, #e7f9fd);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

/* NAVBAR*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #0000001a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

main {
  margin-top: 80px;
}

.logo,
span {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8;
}

.nav-links ul {
  display: flex;
}

li a {
  margin: 0 30px;
  color: var(--text-color);
  font-weight: 500;
  size: 1rem;
  transition: border-bottom 0.2s, padding-bottom 0.2s;
}
li a:hover {
  padding-bottom: 7px;
  border-bottom: 3px solid black;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); */
}
.active {
  padding-bottom: 7px;
  border-bottom: 3px solid #ff7426;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); */
}

.socials i {
  margin: 0 1rem;
  height: 19px;
  cursor: pointer;
  transition: transform 0.7s;
}

.socials i:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

hr {
  border: 1px solid #0000001a;
}

/* subcribe section  =======*/

.subscribe {
  margin: 0 80px 160px;
  position: relative;
  background: #e7f9fd;
  border-radius: 60px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 422px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.subcribe-header h2 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
}

.subcribe-subheader p {
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--text-color2);
  text-align: center;
}

.subcribe-center {
  margin: 80px 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subcribe-input {
  display: flex;
}
.left-img {
  position: absolute;
  /* rotate: -30deg; */
  width: 300px;
  left: 0px;
  bottom: 0px;
}

.left-img img {
  border-radius: 60px;
}
.right-img {
  width: 275px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* bottom: 0px; */
}
.right-img img {
  border-radius: 60px;
}
.middle-img {
  width: 66px;
  rotate: 31.5deg;
  position: absolute;
  bottom: 80px;
  right: 245px;
}

.subcribe-input input {
  padding: 32px;
  width: 480px;
  border-radius: 16px;
  font-weight: 500;
}

.subcribe-input button {
  margin-left: -100px;
  margin: 10px 10px 10px -150px;
}

/* recipe section  */

.delicious {
  margin: 160px 80px;
}

.delicious-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delicious-text h2 {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
}

.delicious-text p {
  margin: 15px 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--text-color2);
}

.recipe-lists {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.recipe-lists-item {
  position: relative;
  transition: transform 0.7s;
}

.recipe-lists-item:hover {
  cursor: pointer;
  transform: translateY(-2rem);
}

.small-like-or-unliked {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 48px;
}
.recipe-text h3 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.recipe-img img {
  border-radius: 20px;
  width: 100%;
}

.recipe-details {
  gap: 24px;
  display: flex;
  color: var(--text-color2);
  margin-top: 24px;
  margin-bottom: 36px;
  /* padding: 24px 8px 32px; */
}

.recipe-details-time,
.recipe-details-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recipe-details-time img,
.recipe-details-type img {
  width: 24px;
}

.recipe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  border-radius: 16px;
  padding: 18px 36px;
  cursor: pointer;
  transition: box-shadow 0.7s;
}
.recipe-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/* Footer SECTION  */
footer {
  margin: 0 80px 48px;
}
.footer-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-two {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* gap: 338px; */
}

.footer-two p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color2);
  font-size: 1.1rem;
}
.footer-one p {
  color: var(--text-color2);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
}
