* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}
:root {
  --text-color: #000000;
  --text-color2: #00000099;
  --color-primary: #e7f9fd;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", serif;
  line-height: 1.6;
  font-size: 0.9rem;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  /* color: var(--color-gray-900); */
  font-weight: 900;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

a {
  transition: var(--transition);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* NAVBAR*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo,
span {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8;
}

.nav-links ul {
  display: flex;
}

li a {
  margin: 0 30px;
  color: var(--text-color);
  font-weight: 500;
  size: 1rem;
}

.socials i {
  margin: 0 1rem;
  height: 19px;
  cursor: pointer;
}

hr {
  border: 1px solid #0000001a;
}

/* subcribe section  =======*/

.subscribe {
  margin: 0 80px 160px;
  position: relative;
  background: #e7f9fd;
  border-radius: 60px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 422px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.subcribe-header h2 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
}

.subcribe-subheader p {
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--text-color2);
  text-align: center;
}

.subcribe-center {
  margin: 80px 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subcribe-input {
  display: flex;
}
.left-img {
  position: absolute;
  /* rotate: -30deg; */
  width: 300px;
  left: 0px;
  bottom: 0px;
}

.left-img img {
  border-radius: 60px;
}
.right-img {
  width: 275px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* bottom: 0px; */
}
.right-img img {
  border-radius: 60px;
}
.middle-img {
  width: 66px;
  rotate: 31.5deg;
  position: absolute;
  bottom: 80px;
  right: 245px;
}

.subcribe-input input {
  padding: 32px;
  width: 480px;
  border-radius: 16px;
  font-weight: 500;
}

.subcribe-input button {
  margin-left: -100px;
  margin: 10px 10px 10px -150px;
}

/* Footer SECTION  */
footer {
  margin: 0 80px 48px;
}
.footer-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-two {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 338px; */
}
.footer-copyright {
  color: var(--text-color2);
}
