/* hero section  */
.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* grid-template-columns: 0.2fr 1fr 0.5fr; */
  /* padding: 0 40px; */
}

.column {
  background-color: var(--color-primary);
  width: 2.5rem;
  height: 37.5rem;
  /* border-radius: 12px; */

  margin: 60px 0;
}
.left-column {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.right-column {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.center-column {
  display: flex;
  margin: 40px;
  /* padding: 50px; */
  border-radius: 32px;
  position: relative;
}

.text-part {
  width: 620px;
  background-color: var(--color-primary);
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.text-part h1 {
  padding: 127px 50px 0 50px;
  max-width: 600px;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4rem;
  text-align: left;
}

.subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  margin-top: 24px;
  color: var(--text-color2);
  padding: 0 50px;
  max-width: 600px;
}

.meal-details {
  display: flex;
  gap: 16px;
  margin-top: 30px;
  margin-left: 50px;
}
.meal-time,
.meal-type {
  background-color: #0000000d;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  /* text-align: center; */
}

.meal-time img,
.meal-type img {
  width: 24px;
  height: 24px;
  object-fit: contain;

  /* padding-top: 8px; */
  /* padding-right: 10px; */
}

.time,
.food {
  /* padding-top: 11px; */
  padding-left: 11px;
  font-weight: 500;
  color: var(--text-color2);
  line-height: 1rem;
}

.about-recipe {
  display: flex;
  padding: 0 50px;
  margin-top: 100px;
  justify-content: space-between;
}
.chef-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 50px;
  height: 50px;
}
.profile img {
  object-fit: cover;
}

.name-and-date {
  margin-left: 16px;
}

.name {
  font-weight: 700;
  font-family: 1rem;
  line-height: 1.1rem;
}
.date {
  color: #00000099;
  font-size: 14px;
  line-height: 1.1rem;
  margin-top: 8px;
}

.recipe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  border-radius: 16px;
  padding: 18px 36px;
  cursor: pointer;
}

.recipe-btn p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1rem;
  margin-right: 15px;
}

.image-part img {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.badge {
  position: absolute;
  top: 50px;
  left: 570px;
  image-rendering: crisp-edges;
}
.badge img {
  object-fit: cover;
}

.scroll {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 10px 20px 40px #2940461a;
}

.scroll img {
  width: 24px;
  height: 24px;
  margin-right: 13px;
}

.scroll p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1rem;
}

/* categories section  */

.categories {
  margin: 160px 50px;
}

.categories-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-heading h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
}

.view-categories {
  background-color: var(--color-primary);
  border-radius: 16px;
  font-weight: 600;
  line-height: 1.1rem;
  font-size: 1rem;
  padding: 20px 27px;
  cursor: pointer;
}

.categories-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.category-item {
  position: relative;
  color: var(--text-color);
}
.item-img {
  width: 100px;
  height: 100px;
  margin: 0px 40px 100px;
}

.item-img img {
  width: 100%;
  object-fit: cover;
}

.item-effect {
  position: absolute;
  top: 20px;
  left: 60px;
}
.shadow-background {
  border-radius: 30px;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 152px;
  background-image: linear-gradient(#70824600, #7082461a);
}
.category-item:nth-child(2) > .shadow-background {
  background-image: linear-gradient(#6cc63f00, #6cc63f1a);
}

.category-item:nth-child(3) > .shadow-background {
  background-image: linear-gradient(#cc261b00, #cc261b1a);
}

.category-item:nth-child(4) > .shadow-background {
  background-image: linear-gradient(#f09e0000, #f09e001a);
}
.category-item:nth-child(5) > .shadow-background,
.category-item:last-child > .shadow-background {
  background-image: linear-gradient(#00000000, #0000000d);
}

.category-item p {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

/* -- Simple and tasty recipes SECTION  --> */

.simple-recipes {
  margin-top: 180px;
}
.simple-recipes h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
}

.subheading {
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 400;
  max-width: 700px;
  color: var(--text-color2);
  text-align: center;
  margin: 24px auto 96px;
}

.recipe-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 80px;
}

.recipe-card {
  position: relative;

  padding: 16px 16px;
  width: 400px;
  height: 434px;
  margin: 0 auto;
  background-image: linear-gradient(#e7f9fd00, #e7f9fd);
  border-radius: 30px;
}

.recipe-card-img {
  width: 368px;
  height: 250px;
}

.recipe-card-img img {
  border-radius: 30px;
}

.recipe-card-title p {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 24px 0px 0px;
}

.recipe-details {
  gap: 24px;
  display: flex;
  color: var(--text-color2);
  margin-top: 24px;
  margin-bottom: 36px;
  /* padding: 24px 8px 32px; */
}

.recipe-details-time,
.recipe-details-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recipe-details-time img,
.recipe-details-type img {
  width: 24px;
}

.like-or-unliked {
  position: absolute;
  top: 36px;
  right: 36px;
  width: 48px;
}

.ads {
  width: 400px;
  height: 434px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(./images/Mask\ Group.png);
  /* background-image: radial-gradient(#3a795b, #3a795b00); */
}

.ads-heading {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.8rem;
  text-align: center;
  position: absolute;
  top: 40px;
}

.ads-image {
  position: absolute;
  top: 98px;
  justify-content: center;
  align-items: center;
  border: 1px solid rebeccapurple;

  /* margin: 98px 20px 0px; */
}

.ads-image img {
  width: 100%;
}

/* LEARN MORE SECTION  ======== */

.learn-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 143px 80px 160px;
  /* gap: 0; */
}

.learn-more-text {
  /* margin-bottom: 72; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.learn-more-text h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  margin-top: 169px;
  margin-bottom: 24px;
  max-width: 525px;
  /* text-align: left; */
}

.learn-more-text p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color2);
  line-height: 1.7rem;
  margin-bottom: 72px;
  max-width: 500px;
}

.learn-more-text button {
  margin-bottom: 72px;
}
.learn-more-img {
  width: 710px;
  background-image: linear-gradient(#e7f9fd00, #e7f9fd);
  border-radius: 30px;
  position: relative;
}

.learn-more-img img {
  width: 100%;
  object-fit: cover;
}

.learn-more-img .meat,
.vegie {
  width: 80px;
  position: absolute;
}
.learn-more-img .onion,
.tomato {
  width: 50px;
  position: absolute;
}

.meat {
  top: 70px;
  left: 102px;
  rotate: 15deg;
}

.onion {
  top: 97px;
  right: 130px;
  rotate: -15deg;
}

.vegie {
  top: 167px;
  right: 14px;
}

.tomato {
  bottom: 124px;
  left: 34px;
}

/* INSTAGRAM SECTION ==================== */
.instagram {
  background-image: linear-gradient(#e7f9fd00, #e7f9fd);
}

.instagram-text h2 {
  margin: 80px 300px 0px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
}

.instagram-text p {
  margin: 24px 300px 80px;
  /* max-width: 840px; */

  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color2);
  /* max-width: 840px; */
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0px 80px 80px;
}

.post-item img {
  width: 100%;
  object-fit: contain;
}
.visit-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.instagram button i {
  margin-left: 16px;
}

/* recipe section  */

.delicious {
  margin: 160px 80px;
}

.delicious-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delicious-text h2 {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
}

.delicious-text p {
  margin: 15px 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--text-color2);
}

.recipe-lists {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.recipe-lists-item {
  position: relative;
}
.small-like-or-unliked {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 48px;
}
.recipe-text h3 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.recipe-img img {
  border-radius: 20px;
  width: 100%;
}
